<a href="https://colab.research.google.com/github/mazette04/CPEN-21A-CPE-1-1/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comment

In [2]:
# This is a comment
print("Hello, world")

Hello, world

Python Variable

In [25]:
#Single variable
a = float(10)
b = -1

#multiple variables
a,b = float(8),-1


#string type

c = "Ela"

In [27]:
print(a)

#string type

c = str("Ela")
c

print(c)
print(c)
print(c)

8.0
Ela
Ela
Ela

In [ ]:
Type () function

In [30]:
print(type(c))

<class 'str'>

In [32]:
#Proper Indentation

if 5>2:
  print("5 is greater than 1")

5 is greater than 1

Single and Double Quote

In [33]:
f = "Jane"
g = 'Jane'

print(f)
print(g)

Jane
Jane

Multiple Variables

In [34]:
x,y,z = 1,2,3

print(x)
print(y)
print(z)

1
2
3

Single Values to Multiple Variables

In [35]:
x=y=z="python"
print(x)
print(y)
print(z)

python
python
python

Output Variables

In [41]:
x = "enjoying"
y = "Python Programming is"

print(y+" " + x)

Python Programming is enjoying

Arithmetic Operations

In [49]:
a = 3%2
print(a)
b = 3//2
print(b)

c = 7
print(c**2)

1
1
49

Assignment Operators

In [50]:
c = 5
c+=3    # c = c+3  , c = 5+3
print(c)

8

Comparison Operators

In [56]:
i=5>2   #True
h = 3>5 #False
print(i)
print(h)

not(i or h)

True
False

False

Identity Operators

In [58]:
i is not h

True

Bitwise Operators

In [61]:
v = 10
v<<2

y = 2

y>>1

1